*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

main section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section div {
  width: 100%;
  max-width: 700px;
  position: relative;
  margin: 2rem;
}

main section div img.main-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.icon-left {
  position: absolute;
  top: 50%;
  left: -3%;
}

.icon-right {
  position: absolute;
  top: 50%;
  right: -3%;
}
